flet==0.24.1                  # Библиотека для создания интерфейсов (UI) кроссплатформенных приложений на Python.
pyinstaller==6.11.1           # Утилита для упаковки Python-приложений в исполняемые файлы (десктопные приложения).
aiohttp==3.10.10              # Библиотека для асинхронных HTTP-запросов, часто используется для работы с API.
pydantic-settings==2.6.1      # Библиотека для управления настройками и конфигурациями на основе Pydantic.
pillow==11.0.0 